image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/library/rust:1

stages:
  - build
  - test
  - pack

build:
  stage: build
  script:
    - cargo build --release
  artifacts:
    paths:
      - target/release/printer-ldap
      - target/release/nextcloud-ldap
    expire_in: 1 week
    when: always
  needs: []

lint:
  stage: test
  script:
    - rustup component add clippy
    - cargo clippy --no-deps -- -Dwarnings
  needs: []

fmt-check:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/rustlang/rust:nightly
  stage: test
  script:
    - rustup component add rustfmt
    - cargo fmt --all -- --check
  needs: []

test:
  stage: test
  script:
    - cargo test
  needs: []

.e2e-test:
  stage: test
  needs:
    - job: build
      artifacts: true
  services:
    - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/keycloak/keycloak:25.0
      alias: keycloak
      command: ["start-dev", "--import-realm"]
      entrypoint:
        # Sadly, waiting until everything is checked out and set up is not supported out of the box :(
        # Using workaround from https://gitlab.com/gitlab-org/gitlab-runner/-/issues/3210#note_380999884
        - '/bin/bash'
        - '-c'
        - |
          # wait for project clone/checkout
          # i'm relying on git index to indicate the clone/checkout is done
          echo "Waiting for git checkout"
          until [ -f "$CI_PROJECT_DIR/.git/index" ]; do sleep 0.1; done;
          echo "Waiting for git lock to be released"
          # especially after the lock file has been removed
          while [ -f "$CI_PROJECT_DIR/.git/index.lock" ]; do sleep 0.1; done;
          # copy/setup files
          cp -r "$CI_PROJECT_DIR/e2e-test/keycloak_realm_config" /opt/keycloak/data/import
          # pass control to the default image entrypoint
          exec /opt/keycloak/bin/kc.sh "$@"
        - '/bin/bash'
  before_script:
    - apt update && apt install -y ldap-utils

e2e-test-ldaps:
  extends: .e2e-test
  script:
    - openssl req -x509 -newkey rsa:4096 -nodes -keyout certificates/ldap_keycloak_bridge.key.pem -out certificates/ldap_keycloak_bridge.crt.pem -subj "/C=DE/CN=127.0.0.1"
    - target/release/printer-ldap --keycloak-address "http://keycloak:8080" &
    # Wait for server to start. This is not the cleanest solution, but should be good enough here
    - sleep 1
    - LDAPTLS_CACERT=certificates/ldap_keycloak_bridge.crt.pem ldapsearch -H ldaps://127.0.0.1:3000 -x -LLL -D ldap_bridge -w ldap_bridge_secret -b dc=giz,dc=berlin -s subtree '(objectClass=*)' +  | tee ldap_result.txt
    - grep 'dc=giz,dc=berlin' ldap_result.txt

e2e-test-ldap:
  extends: .e2e-test
  script:
    - target/release/printer-ldap --keycloak-address "http://keycloak:8080" --disable-ldaps &
    # Wait for server to start. This is not the cleanest solution, but should be good enough here
    - sleep 1
    - ldapsearch -H ldap://127.0.0.1:3000 -x -LLL -D ldap_bridge -w ldap_bridge_secret -b dc=giz,dc=berlin -s subtree '(objectClass=*)' +  | tee ldap_result.txt
    - grep 'dc=giz,dc=berlin' ldap_result.txt

docker-image:
  stage: pack
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/library/docker:latest
  needs:
    - job: build
      artifacts: true
  tags:
    # Use a privileged runner for building Docker container
    - privileged
  services:
    - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/library/docker:dind
      alias: docker
  variables:
    # This will instruct Docker not to start over TLS.
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - |+
      build() {
        TARGET_BINARY=$1
        IMAGE_NAME=$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG/$TARGET_BINARY
        docker build \
          --build-arg "BINARY=$TARGET_BINARY" \
          -t "$IMAGE_NAME:latest" \
          -t "$IMAGE_NAME:$CI_PIPELINE_IID" \
          --push .
      }
    - build printer-ldap
    - build nextcloud-ldap
