image: dr.rechenknecht.net/bauhelfer/container/main/rust:ubuntu-jammy

stages:
  - build
  - test
  - pack

.binaries: &binaries
  - printer-ldap
  - nextcloud-ldap
  - roundcube-ldap

.build_matrix: &build_matrix
  parallel:
    matrix:
      - BINARY: *binaries

build:
  stage: build
  <<: *build_matrix
  script:
    - cargo build --release --bin $BINARY
    # We store the version number here as the binary does not run with other Linux variants
    # (like this is built with GNU libc and the container with musl libc)
    - target/release/$BINARY -V > target/release/${BINARY}-version
  artifacts:
    paths:
      - target/release/$BINARY
      - target/release/${BINARY}-version
    expire_in: 1 week
    when: always
  needs: []

lint:
  stage: test
  script:
    - rustup component add clippy
    - cargo clippy --no-deps -- -Dwarnings
  needs: []

fmt-check:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/rustlang/rust:nightly
  stage: test
  script:
    - rustup component add rustfmt
    - cargo fmt --all -- --check
  needs: []

test:
  stage: test
  needs: []
  script:
    - cargo llvm-cov --html --all-features
    - cargo llvm-cov report --cobertura --output-path target/llvm-cov/cobertura.xml
    - "xmllint --xpath \"concat('Coverage: ', 100 * string(//coverage/@line-rate), '%')\" target/llvm-cov/cobertura.xml"
  coverage: '/Coverage: \d+(?:\.\d+)?/'
  artifacts:
    paths:
      - target/llvm-cov/
    reports:
      coverage_report:
        coverage_format: cobertura
        path: target/llvm-cov/cobertura.xml

.e2e-test:
  stage: test
  <<: *build_matrix
  needs:
    - job: build
      artifacts: true
      parallel:
        matrix:
          - BINARY: *binaries
  services:
    - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/keycloak/keycloak:25.0
      alias: keycloak
      command: ["start-dev", "--import-realm"]
      entrypoint:
        # Sadly, waiting until everything is checked out and set up is not supported out of the box :(
        # Using workaround from https://gitlab.com/gitlab-org/gitlab-runner/-/issues/3210#note_380999884
        - '/bin/bash'
        - '-c'
        - |
          # wait for project clone/checkout
          # i'm relying on git index to indicate the clone/checkout is done
          echo "Waiting for git checkout"
          until [ -f "$CI_PROJECT_DIR/.git/index" ]; do sleep 0.1; done;
          echo "Waiting for git lock to be released"
          # especially after the lock file has been removed
          while [ -f "$CI_PROJECT_DIR/.git/index.lock" ]; do sleep 0.1; done;
          # copy/setup files
          cp -r "$CI_PROJECT_DIR/e2e-test/keycloak_realm_config" /opt/keycloak/data/import
          # pass control to the default image entrypoint
          exec /opt/keycloak/bin/kc.sh "$@"
        - '/bin/bash'
  before_script:
    - apt update && apt install -y ldap-utils

e2e-test-ldaps:
  extends: .e2e-test
  script:
    - openssl req -x509 -newkey rsa:4096 -nodes -keyout certificates/ldap_keycloak_bridge.key.pem -out certificates/ldap_keycloak_bridge.crt.pem -subj "/C=DE/CN=127.0.0.1"
    - target/release/$BINARY --config "e2e-test/ldap-server-config-ldaps.toml" &
    # Wait for server to start. This is not the cleanest solution, but should be good enough here
    - sleep 1
    - LDAPTLS_CACERT=certificates/ldap_keycloak_bridge.crt.pem ldapsearch -H ldaps://127.0.0.1:3000 -x -LLL -D ldap_bridge -w ldap_bridge_secret -b dc=giz,dc=berlin -s subtree '(objectClass=*)' +  | tee ldap_result.txt
    - grep 'dc=giz,dc=berlin' ldap_result.txt

e2e-test-ldap:
  extends: .e2e-test
  script:
    - target/release/$BINARY --config "e2e-test/ldap-server-config-ldap.toml" &
    # Wait for server to start. This is not the cleanest solution, but should be good enough here
    - sleep 1
    - ldapsearch -H ldap://127.0.0.1:3000 -x -LLL -D ldap_bridge -w ldap_bridge_secret -b dc=giz,dc=berlin -s subtree '(objectClass=*)' +  | tee ldap_result.txt
    - grep 'dc=giz,dc=berlin' ldap_result.txt

docker-image:
  stage: pack
  <<: *build_matrix
  needs:
    - job: build
      artifacts: true
      parallel:
        matrix:
          - BINARY: *binaries
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/library/docker:latest
  needs:
    - job: build
      artifacts: true
  tags:
    # Use a privileged runner for building Docker container
    - privileged
  services:
    - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/library/docker:dind
      alias: docker
  variables:
    # This will instruct Docker not to start over TLS.
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - export IMAGE_NAME=$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG/$BINARY
    - export BINARY_VERSION=`cat target/release/${BINARY}-version | cut -d ' ' -f2`
    - export BINARY_VERSION_MAJOR=`echo $BINARY_VERSION | cut -d '.' -f1`
    - export BINARY_VERSION_MINOR=`echo $BINARY_VERSION | cut -d '.' -f2`
    - export BINARY_VERSION_PATCH=`echo $BINARY_VERSION | cut -d '.' -f3`
    - docker build
        --build-arg "BINARY=$BINARY"
        -t "$IMAGE_NAME:latest"
        -t "$IMAGE_NAME:pipeline-$CI_PIPELINE_IID"
        -t "$IMAGE_NAME:v-$BINARY_VERSION_MAJOR"
        -t "$IMAGE_NAME:v-$BINARY_VERSION_MAJOR.$BINARY_VERSION_MINOR"
        -t "$IMAGE_NAME:v-$BINARY_VERSION_MAJOR.$BINARY_VERSION_MINOR.$BINARY_VERSION_PATCH"
        --push
        .
