image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/library/rust:1

stages:
  - build
  - test

build:
  stage: build
  script:
    - cargo build --release
  artifacts:
    paths:
      - target/release/printer-ldap
    expire_in: 1 week
    when: always
  needs: []

pack:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.15.0-debug
    entrypoint: [ "" ]
  needs:
    - job: build
      artifacts: true
  script:
    - |+
      build() {
        TARGET_BINARY=$1
        IMAGE_NAME=$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG/$TARGET_BINARY
        /kaniko/executor --context "$CI_PROJECT_DIR" --dockerfile "$CI_PROJECT_DIR/Dockerfile" \
          --build-arg "BINARY=$TARGET_BINARY" \
          --destination "$IMAGE_NAME:latest" --destination "$IMAGE_NAME:v1" --destination "$IMAGE_NAME:$CI_PIPELINE_IID"
      }
    - build printer-ldap

lint:
  stage: test
  script:
    - rustup component add clippy
    - cargo clippy --no-deps -- -Dwarnings
  needs: []

fmt-check:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/rustlang/rust:nightly
  stage: test
  script:
    - rustup component add rustfmt
    - cargo fmt --all -- --check
  needs: []

test:
  stage: test
  script:
    - cargo test
  needs: []

e2e-test:
  stage: test
  needs:
    - job: build
      artifacts: true
  services:
    - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/keycloak/keycloak:25.0
      alias: keycloak
      command: ["start-dev", "--import-realm"]
      entrypoint:
        # Sadly, waiting until everything is checked out and set up is not supported out of the box :(
        # Using workaround from https://gitlab.com/gitlab-org/gitlab-runner/-/issues/3210#note_380999884
        - '/bin/bash'
        - '-c'
        - |
          # wait for project clone/checkout
          # i'm relying on git index to indicate the clone/checkout is done
          echo "Waiting for git checkout"
          until [ -f "$CI_PROJECT_DIR/.git/index" ]; do sleep 0.1; done;
          echo "Waiting for git lock to be released"
          # especially after the lock file has been removed
          while [ -f "$CI_PROJECT_DIR/.git/index.lock" ]; do sleep 0.1; done;
          # copy/setup files
          cp -r "$CI_PROJECT_DIR/e2e-test/keycloak_realm_config" /opt/keycloak/data/import
          # pass control to the default image entrypoint
          exec /opt/keycloak/bin/kc.sh "$@"
        - '/bin/bash'
  before_script:
    - apt update && apt install -y ldap-utils
    - openssl req -x509 -newkey rsa:4096 -nodes -keyout certificates/ldap_keycloak_bridge.key.pem -out certificates/ldap_keycloak_bridge.crt.pem -subj "/C=DE/CN=127.0.0.1"
  script:
    - target/release/printer-ldap --keycloak-address "http://keycloak:8080"  &
    # Wait for server to start. This is not the cleanest solution, but should be good enough here
    - sleep 1
    - LDAPTLS_CACERT=certificates/ldap_keycloak_bridge.crt.pem ldapsearch -H ldaps://127.0.0.1:3000 -x -LLL -D ldap_bridge -w ldap_bridge_secret -b dc=giz,dc=berlin -s subtree '(objectClass=*)' +  | tee ldap_result.txt
    - grep 'dc=giz,dc=berlin' ldap_result.txt
